@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), url(./../assets/fonts/Roboto-Regular.woff2) format("woff2"), url(./../assets/fonts/Roboto-Regular.woff) format("woff"), url(./../assets/fonts/Roboto-Regular.ttf) format("ttf"), url(./../assets/fonts/Roboto-Regular.eot) format("eot"); }
@font-face {
  font-family: 'Roboto Bold';
  src: local("Roboto Bold"), url(./../assets/fonts/Roboto-Bold.woff2) format("woff2"), url(./../assets/fonts/Roboto-Bold.woff) format("woff"), url(./../assets/fonts/Roboto-Bold.ttf) format("ttf"), url(./../assets/fonts/Roboto-Bold.eot) format("eot"); }
@font-face {
  font-family: 'Roboto Light';
  src: local("Roboto Light"), url(./../assets/fonts/Roboto-Light.woff2) format("woff2"), url(./../assets/fonts/Roboto-Light.woff) format("woff"), url(./../assets/fonts/Roboto-Light.ttf) format("ttf"), url(./../assets/fonts/Roboto-Light.eot) format("eot"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  max-width: 1600px;
  margin: 0 auto; }
  body.lock {
    overflow: hidden; }

.header {
  background: black;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header-wrapper .header-logo {
      margin-right: 63px;
      margin-left: 20px; }
    .header .header-wrapper .header-nav-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header .header-wrapper .header-menu-icon {
      display: none; }
  .header .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 58px;
    padding: 0; }
    .header .header-nav-list li {
      list-style: none; }
      .header .header-nav-list li .header-nav-list-item-link {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
        .header .header-nav-list li .header-nav-list-item-link:hover {
          color: orange; }
  .header .header-copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    color: white; }

.preview {
  max-width: 1600px;
  min-height: 700px;
  background: url(./../assets/img/Panda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 12px; }
  .preview .preview-circle {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    margin-right: 328px;
    margin-left: auto; }
  .preview h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 80%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 500px;
    height: 400px;
    position: relative;
    left: 73px;
    top: 65px;
    margin: 0; }
    .preview h1 span {
      color: #FFEE2E; }
  .preview .preview-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    text-transform: uppercase;
    display: block;
    border-radius: 25px;
    margin: 75px 319px 0 auto; }

.about {
  padding: 140px 0 180px; }
  .about .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1161px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    gap: 10px; }
    .about .about-wrapper .about-img {
      background: url(./../assets/img/about.jpg);
      background-position: center;
      background-repeat: no-repeat;
      width: 609px;
      height: 403px; }
    .about .about-wrapper .about-text-container {
      max-width: 465px; }
      .about .about-wrapper .about-text-container h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        margin: 0; }
        .about .about-wrapper .about-text-container h2.about-title {
          margin-bottom: 20px; }
      .about .about-wrapper .about-text-container .about-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0; }
      .about .about-wrapper .about-text-container .subtitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 0; }
        .about .about-wrapper .about-text-container .subtitle.about-subtitle {
          margin: 54px 0 34px; }

.friends-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  row-gap: 20px;
  max-width: 1158px;
  margin-bottom: 80px; }
  .friends-wrapper .friends-item {
    border: solid 1px #FA6F32;
    border-radius: 5px;
    overflow: hidden; }
    .friends-wrapper .friends-item .friends-item-desc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 8px 12px 14px 16px; }
      .friends-wrapper .friends-item .friends-item-desc .friends-item-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold; }
      .friends-wrapper .friends-item .friends-item-desc .friends-item-origin {
        font-family: 'Roboto Light';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        margin: 0; }

.friends-button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
  text-transform: uppercase;
  display: block;
  border-radius: 25px;
  margin: 0 auto; }

.donate {
  padding: 69px 30px 100px;
  margin-top: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  min-height: 1004px; }
  .donate .donate-wrapper {
    padding-top: 41px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    min-height: 835px;
    min-width: 940px;
    max-width: 1160px;
    margin: 0 auto; }
    .donate .donate-wrapper .donate-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      margin: 0;
      color: #FE9013;
      text-align: center;
      margin-bottom: 30px; }
    .donate .donate-wrapper .donate-subtitle {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      margin: 0;
      margin-bottom: 40px;
      padding-left: 99px; }
    .donate .donate-wrapper .donate-text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      line-height: 130%;
      margin-bottom: 10px;
      padding-left: 99px; }
    .donate .donate-wrapper .donate-subtext {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      padding-left: 99px; }
    .donate .donate-wrapper .donate-secondary-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      margin: 0;
      text-align: center;
      margin: 60px 0 40px; }
    .donate .donate-wrapper .donate-howto-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 764px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 auto; }
      .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item {
        width: 168px; }
        .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item .donate-howto-item-green-arrow-img {
          display: none; }
        .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item .donate-howto-item-img-container {
          background: white;
          border: 1px solid #F9804B;
          border-radius: 5px;
          width: 168px;
          height: 168px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item .donate-howto-item-img-container .donate-howto-item-img {
            display: block; }
        .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item .donate-howto-item-text {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          margin: 0;
          height: 46px;
          margin-top: 30px; }
      .donate .donate-wrapper .donate-howto-wrapper .donate-howto-arrow {
        padding-top: 60px; }
        .donate .donate-wrapper .donate-howto-wrapper .donate-howto-arrow .donate-howto-arrow-img {
          display: block; }
  .donate .donate-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    text-transform: uppercase;
    display: block;
    border-radius: 25px;
    margin: 60px auto 0; }

.feedback-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin: 0;
  text-align: center;
  margin-top: 60px; }

.feedback-wrapper {
  max-width: 1160px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 47px auto 0; }
  .feedback-wrapper .feedback-item {
    overflow: hidden;
    width: 268px;
    height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    border: solid 1px #F9804B;
    padding: 15px 15px 19px; }
    .feedback-wrapper .feedback-item .feedback-item-header-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .feedback-wrapper .feedback-item .feedback-item-header-container .feedback-item-header {
        margin-left: 10px; }
        .feedback-wrapper .feedback-item .feedback-item-header-container .feedback-item-header .feedback-item-name {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          margin: 0; }
        .feedback-wrapper .feedback-item .feedback-item-header-container .feedback-item-header .feedback-item-location, .feedback-wrapper .feedback-item .feedback-item-header-container .feedback-item-header .feedback-item-date {
          font-family: 'Roboto Light';
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 120%;
          margin: 0;
          color: #BDBDBD; }
    .feedback-wrapper .feedback-item .feedback-item-location-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .feedback-wrapper .feedback-item .feedback-item-location-container .feedback-item-dot {
        background: url(./assets/img/dot.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 5px;
        margin: 0 5px 0 6px; }

.feedback-button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
  text-transform: uppercase;
  display: block;
  margin: 60px 0 0 220px;
  border-radius: 5px; }

.footer {
  background: black;
  margin-top: 180px;
  padding: 40px 0 50px; }
  .footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footer-wrapper .left-column .footer-button {
      width: 298px;
      height: 54px;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      border: none;
      color: white;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      text-transform: uppercase;
      display: block;
      border-radius: 5px;
      margin: 68px 0 44px; }
    .footer .footer-wrapper .left-column .left-column-socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 10px; }
      .footer .footer-wrapper .left-column .left-column-socials .left-column-socials-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .footer-wrapper .left-column .left-column-socials .left-column-socials-container .left-column-socials-logo-container {
          margin-right: 12px; }
        .footer .footer-wrapper .left-column .left-column-socials .left-column-socials-container .left-column-socials-text {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          margin: 0;
          color: white; }
    .footer .footer-wrapper .center-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .footer .footer-wrapper .center-column .footer-nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
        padding: 0;
        margin: 0; }
        .footer .footer-wrapper .center-column .footer-nav-list li {
          list-style: none; }
          .footer .footer-wrapper .center-column .footer-nav-list li .header-nav-list-item-link {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            font-weight: 300;
            -webkit-transition: color 0.3s;
            transition: color 0.3s; }
            .footer .footer-wrapper .center-column .footer-nav-list li .header-nav-list-item-link:hover {
              color: orange; }
    .footer .footer-wrapper .right-column .subscribe-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      margin: 0;
      font-family: 'Roboto Light';
      color: white;
      margin-bottom: 14px; }
    .footer .footer-wrapper .right-column input {
      background: transparent;
      border: 1px solid #F9804B;
      border-radius: 2px;
      width: 228px;
      height: 42px;
      padding: 10px; }
      .footer .footer-wrapper .right-column input::-webkit-input-placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0; }
      .footer .footer-wrapper .right-column input:-ms-input-placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0; }
      .footer .footer-wrapper .right-column input::-ms-input-placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0; }
      .footer .footer-wrapper .right-column input::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0; }
    .footer .footer-wrapper .right-column .footer-button {
      width: 129px;
      height: 42px;
      background: #F1F3F2;
      border: 1px solid #4B9200;
      border-radius: 5px;
      color: #4B9200;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      margin-left: 10px; }
    .footer .footer-wrapper .right-column .right-column-text-wrapper {
      margin-top: 240px; }
      .footer .footer-wrapper .right-column .right-column-text-wrapper .right-column-text {
        font-family: 'Roboto Light';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: white;
        margin: 10px 0 0;
        text-align: right; }

@media screen and (max-width: 1155px) {
  .feedback-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .feedback-item:last-child {
    display: none; }

  .donate .donate-wrapper {
    min-width: 0;
    max-width: 940px;
    padding: 30px 45px 15px; }
    .donate .donate-wrapper .donate-subtitle {
      padding-left: 0;
      text-align: center; }
    .donate .donate-wrapper .donate-text, .donate .donate-wrapper .donate-subtext {
      padding-left: 0; }

  .footer .footer-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .footer .footer-wrapper .center-column {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .footer-wrapper .center-column .footer-nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
    .footer .footer-wrapper .right-column form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer .footer-wrapper .right-column input {
      margin-bottom: 15px; }
    .footer .footer-wrapper .right-column .footer-button {
      margin-left: 0; }

  .feedback-button {
    margin-left: auto;
    margin-right: auto; } }
@media screen and (max-width: 830px) {
  .header .header-wrapper .header-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    cursor: pointer;
    margin-right: 44px;
    margin-left: 20px; }
  .header .header-wrapper .header-menu-icon span,
  .header .header-wrapper .header-menu-icon::before,
  .header .header-wrapper .header-menu-icon::after {
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: white; }
  .header .header-wrapper .header-menu-icon.light.active span,
  .header .header-wrapper .header-menu-icon.light.active::before,
  .header .header-wrapper .header-menu-icon.light.active::after {
    background-color: black; }
  .header .header-wrapper .header-menu-icon::before,
  .header .header-wrapper .header-menu-icon::after {
    content: ""; }
  .header .header-wrapper .header-menu-icon::before {
    top: 0px; }
  .header .header-wrapper .header-menu-icon::after {
    bottom: 0px; }
  .header .header-wrapper .header-menu-icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%); }
  .header .header-wrapper .header-menu-icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%); }
  .header .header-wrapper .header-menu-icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%); }
  .header .header-wrapper .header-menu-icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%); }
  .header .header-nav {
    position: fixed;
    z-index: 5;
    top: 0;
    right: -100%;
    width: 81%;
    height: 100%;
    background-color: black;
    padding-top: 20px;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .header .header-nav.active {
    right: 0;
    background-color: black; }
  .header .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 134px;
    margin-left: 127px;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0px; }
    .header .header-nav-list li .header-nav-list-item-link {
      font-size: 26px; }

  .preview {
    background: url(./../assets/img/Panda-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 373px;
    padding-bottom: 20px; }
    .preview .preview-circle {
      width: 237px;
      height: 237px;
      margin-right: 70px; }
    .preview .preview-header {
      font-size: 54px;
      max-width: 256px;
      left: 20px;
      top: 40px; }
    .preview .preview-button {
      margin: 75px 0 0 75px; }

  .donate .donate-wrapper .donate-howto-wrapper .donate-howto-arrow {
    display: none; }
  .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item .donate-howto-item-green-arrow-img {
    display: block;
    position: relative;
    left: 140px; }
  .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item:last-child {
    padding-top: 29px; }

  .feedback .feedback-title {
    margin-top: 60px; } }
@media screen and (max-width: 930px) {
  .about {
    padding: 60px 0 80px; }
    .about .about-wrapper {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .about .about-wrapper .about-img {
        display: none; } }
@media screen and (max-width: 680px) {
  .donate .donate-wrapper .donate-howto-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item .donate-howto-item-green-arrow-img {
      position: relative;
      rotate: 90deg;
      left: 140px;
      top: 230px; }
    .donate .donate-wrapper .donate-howto-wrapper .donate-howto-item:last-child {
      padding-top: 29px; }

  .about .about-wrapper .about-text-container {
    margin-left: 10px; }

  .about-img {
    display: none; }

  .friends-wrapper {
    padding: 0 15px; }

  .footer {
    margin-top: 100px; }
    .footer .footer-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .footer .footer-wrapper .center-column {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .footer .footer-wrapper .center-column .footer-nav-list {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
      .footer .footer-wrapper .left-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .footer .footer-wrapper .left-column .footer-button {
          margin: 25px 15px; } }
      @media screen and (max-width: 680px) and (max-width: 515px) {
        .footer .footer-wrapper .left-column {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .footer .footer-wrapper .left-column .left-column-socials {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-top: 25px; }
          .footer .footer-wrapper .left-column .left-column-socials-text {
            display: none; } }
@media screen and (max-width: 680px) {
      .footer .footer-wrapper .center-column .footer-nav-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 45px auto; } }
      @media screen and (max-width: 680px) and (max-width: 515px) {
        .footer .footer-wrapper .center-column .footer-nav-list {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
@media screen and (max-width: 680px) {
      .footer .footer-wrapper .right-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .footer-wrapper .right-column form {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
        .footer .footer-wrapper .right-column input {
          margin-bottom: 15px; }
        .footer .footer-wrapper .right-column .footer-button {
          margin-left: 0; }
        .footer .footer-wrapper .right-column .right-column-text-wrapper {
          margin: 0; } }
      @media screen and (max-width: 680px) and (max-width: 515px) {
        .footer .footer-wrapper .right-column {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse; }
          .footer .footer-wrapper .right-column .subscribe-wrapper {
            margin-top: 20px; }
          .footer .footer-wrapper .right-column .footer-button {
            margin: 0 auto; } }

@media screen and (max-width: 500px) {
  .preview {
    background: url(./../assets/img/Panda-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 187px;
    padding-top: 50px; }
    .preview .preview-circle {
      width: 150px;
      height: 150px;
      margin-right: 50px; }
    .preview .preview-header {
      font-size: 34px;
      max-width: 140px;
      left: 30px;
      top: 25px; }
    .preview .preview-button {
      margin-left: auto;
      margin-right: auto;
      width: 200px; }

  .donate .donate-wrapper {
    padding-left: 0;
    padding-right: 0; }
    .donate .donate-wrapper .donate-button {
      width: 200px; }
    .donate .donate-wrapper .donate-text, .donate .donate-wrapper .donate-subtext {
      padding: 0 5px; } }

/*# sourceMappingURL=style.css.map */