@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url(./assets/fonts/Roboto-Regular.woff2) format('woff2'),
        url(./assets/fonts/Roboto-Regular.woff) format('woff'),
        url(./assets/fonts/Roboto-Regular.ttf) format('ttf'),
        url(./assets/fonts/Roboto-Regular.eot) format('eot');
}

@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'),
        url(./assets/fonts/Roboto-Bold.woff2) format('woff2'),
        url(./assets/fonts/Roboto-Bold.woff) format('woff'),
        url(./assets/fonts/Roboto-Bold.ttf) format('ttf'),
        url(./assets/fonts/Roboto-Bold.eot) format('eot');
}

@font-face {
    font-family: 'Roboto Light';
    src: local('Roboto Light'),
        url(./assets/fonts/Roboto-Light.woff2) format('woff2'),
        url(./assets/fonts/Roboto-Light.woff) format('woff'),
        url(./assets/fonts/Roboto-Light.ttf) format('ttf'),
        url(./assets/fonts/Roboto-Light.eot) format('eot');
}

@import 'desktop.scss';
@import 'tablet.scss';
@import 'mobile.scss';